@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Poppins:wght@300;400;500;600&family=Raleway:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}
body{
	background: #F6F6F6;
}
nav{
	height: 181px;
	background-color: #fff;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 410px 0px 0px;
}
nav .logo img{
	width: 189px;
	height: 181px;
}
nav .nav-list{
	display: flex;
	list-style: none;
}
nav .nav-list li{
	margin: 0 5px;
}
nav .nav-list li a{
	color: #9d9d9d;
	text-decoration: none;
	font-size: 13px;
  font-family: 'Raleway';
	font-weight: 400;
	padding: 8px 40px;
	transition: all 0.3s ease;
}
nav .nav-list li a .active{
	color: #303030;
}
nav .menu-btn i{
	color: #9d9d9d;
	font-size: 22px;
	position: absolute;
	left: 89%;
	cursor: pointer;
	display: none;
}
.box-ham{
	display: none;
	width: 191px;
	height: 183px;
	background: #303030;
	position: absolute;
	border-bottom: 0.5px solid #ECECEC;
}
#click{
	display: none;
}
nav .nav-list .active a{
	font-weight: 600;
	color: #303030;
	font-style: normal;
	line-height: normal;
}
@media (max-width: 940px) {
	nav .menu-btn i{
		display: block;
	}
	#click:checked ~ .menu-btn i:before{
		content: "\f00d";
		color: #ECECEC;
		font-size: 44px;
		background: #303030;
	}
	nav .nav-list{
		position: absolute;
		top: 182px;
		left: -100%;
    z-index: 1;
		background-color: #303030;
		height: 544px;
		width: 191px;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}
	nav .nav-list li{
		border-bottom: 0.5px solid #ECECEC;
		padding-bottom: 30px;
	}

	#click:checked ~ .nav-list{
		left: 80%;
	}
	#click:checked ~ .box-ham{
		display: block;
		left: 80%;
	}
	nav .nav-list li{
		margin: 40px 0;
	}
	nav .nav-list li a{
		font-size: 14px;
		color: #818181;
	}
	nav .nav-list .active a{
		color: #9d9d9d;
	}
	nav .nav-list li a:hover,
	nav .nav-list li a.active{
		color: cyan;
	}
}
@media (max-width: 431px){
	nav .logo img{
		margin-left: 105px;
	}
	nav .menu-btn i{
		left: 80%;
	}
	#click:checked ~ .nav-list{
		left: 60%;
	}
	#click:checked ~ .box-ham{
		display: block;
		left: 60%;
	}
}




